@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Pacifico&family=Roboto:wght@100&family=Rubik:wght@300&display=swap");
* {
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
}

/* nav section */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}
.container_pd {
  padding: 45px 5rem;
}
.container_pd_nav {
  padding: 15px 5rem;
}
header {
  height: 90vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/Banner.png");
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
nav ul li {
  list-style: none;
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  font-size: 0.7rem;
  color: white;
}
nav .logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
}
nav button {
  background: none;
  margin-top: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fdc221;
}
/* nav section ends */

/* hero section */
.hero_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7rem;
  height: max-content;
}
.hero_section_details_btn {
  width: max-content;
}
.hero_section button {
  border: none;
  outline: none;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  color: whitesmoke;
}
.hero_btn {
  margin-top: 40px;
  width: 190px;
  height: 40px;
  border-radius: 20px;
}

.hero_section_details_text .text {
  font-size: 35px;
  color: white;
}
.hero_section_details_text .text span {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero_section_details_text p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #e1e1e1;
}
.hero_section_details_text p span {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero_section_details_btn {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.hero_section_list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 3rem;
  line-height: 1.3;
}
.hero_section_list img {
  margin-right: 8px;
  width: 9px;
}
.rocket_image {
  width: 100%;
  height: 90%;
}
.rocket_image img {
  width: 88%;
  height: 0%;
  margin: -8px;
}
.hero_section_list {
  color: white;
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.6rem;
}
.hero_section_list .list1 p,
.hero_section_list .list2 p {
  font-size: 16px;
}
/* hero section ends */

/*esd_section*/
.esd_section {
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/Group\ 1000000685.png");
}
.esd_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30rem;
}
.esd_section button {
  border: none;
  outline: none;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  color: #ffffff;
  font-family: "rubik" sans-serif;
}
.esd_btn {
  border-radius: 4px;
  margin-top: 40px;
  width: 140px;
  height: 40px;
}
.esd_section_details {
  display: flex;
  /* align-items: start; */
  /* justify-content: start; */
  gap: 15rem;
  line-height: 1.3;
}
/* .eds_section_productimage_details{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
} */
.esd_list {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 8rem;
  line-height: 1.3;
}
.esd_list p {
  color: #262626;
}
.esd_list img {
  margin-right: 7px;
  width: 12px;
}
.esd_section_details_text h4 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8rem;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.esd_section_details_text h2 .text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}
.esd_section_details_text h2 {
  font-family: "roboto", sans-serif;
  text-transform: capitalize;
}
.esd_section_details_text .text span {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.esd_section_details_text p {
  font-size: 0.8rem;
  font-weight: 400;
}
/*packages section*/
.packages_details_text {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
}
.packages_details_text .flexbox {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  column-gap: 1rem;
}
.packages_details_text .flexbox p {
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: start;
}
.packages_details_text .flexbox .main_p {
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
}
.packages_details_text h5 {
  text-transform: uppercase;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
}
.packages_details_text h2 {
  text-transform: capitalize;
  font-family: "roboto", sans-serif;
}
.packages_details_text h2 span {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/*packages box1*/
.packages_details_text .flexbox .box1 {
  background-color: rgb(252, 250, 237);
  border-radius: 20px;
  box-shadow: 0px 3px 5px #d6d5ca;
  width: 230px;
  margin: 15px 0px 20px 0px;
  /*margin-bottom: 20px;
  margin-top: 10px;*/
}
.packages_details_text .flexbox .box1 .list {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 100;
  line-height: 1rem;
  margin-left: 15px;
  margin-top: 25px;
}
.packages_details_text .flexbox .box1 .list img {
  margin-right: 10px;
  width: 15px;
}
.packages_details_text .flexbox .box1 h4 {
  color: #294199;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  font-weight: 10;
}
.packages_details_text .flexbox .box1 h3 {
  font-size: 30px;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-top: -15px;
}
.packages_details_text .flexbox button {
  text-transform: capitalize;
  font-family: "rubik" sans-serif !important;
  font-weight: 400;
}
.box1_btn {
  width: 140px;
  height: 35px;
  margin-top: 190px;
  border: 2px solid #eebd23;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 20px;
}
/*packages box1 ends*/

/*packages box2*/
.packages_details_text .flexbox .box2 {
  background-color: #294199;
  box-shadow: 0px 3px 5px #d6d5ca;
  border-radius: 20px;
  width: 270px;
}
.packages_details_text .flexbox .box2 h6 {
  text-transform: capitalize;
  color: #ffffff;
}
.packages_details_text .flexbox .box2 h4 {
  color: #f3aa17;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  font-weight: 10;
  margin-top: -20px;
}
.packages_details_text .flexbox .box2 h3 {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 30px;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-top: -30px;
}
.packages_details_text .flexbox .box2_p {
  text-align: center;
  justify-content: center;
  text-transform: capitalize;
  margin-bottom: 5px;
  color: #ffffff;
}
.packages_details_text .flexbox .box2 .list2 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 100;
  margin-left: 15px;
  margin-top: 25px;
  line-height: 1rem;
  color: #ffffff;
}
.packages_details_text .flexbox .box2 .list2 img {
  margin-right: 10px;
  width: 15px;
}
.box2_btn {
  width: 140px;
  height: 35px;
  margin-top: 110px;
  color: #ffffff;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  border-radius: 20px;
}
/*packages box2 ends*/

/*packages box3*/
.packages_details_text .flexbox .box3 {
  background-color: #fcfaed;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #d6d5ca;
  margin: 15px 0px 20px 0px;
}
.packages_details_text .flexbox .box3 h6 {
  text-transform: capitalize;
  color: #f3aa17;
  margin-top: 15px;
}
.packages_details_text .flexbox .box3 h4 {
  color: #294199;
  font-family: "Pacifico", cursive;
  font-size: 25px;
  font-weight: 10;
  margin-top: -15px;
}
.packages_details_text .flexbox .box3 h3 {
  font-size: 30px;
  margin-left: 25px;
  margin-bottom: 8px;
  margin-top: -20px;
}
.box3 .list3 {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 100;
  margin-left: 15px;
  margin-top: 25px;
  line-height: 1rem;
}
.packages_details_text .flexbox .box3 .list3 img {
  margin-right: 10px;
  width: 15px;
}
.box3_btn {
  width: 140px;
  height: 35px;
  margin-left: 9rem;
  margin-bottom: 50px;
  border-radius: 25px;
  border: 2px solid #eebd23;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/*packages box3 ends*/
/*packages section ends*/
/*offer section begins*/
.offer_section {
  height: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("images/Group\ 1000000685.png");
}
.offer_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}
.offer_section h6 {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.offer_section h3 span {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.offer_section h2 {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.offer_section .price {
  display: flex;
  gap: 1rem;
}
.offer_section .price p {
  margin-top: 25px;
}
.offer_section button {
  border: none;
  outline: none;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  color: #ffffff;
  font-family: "rubik" sans-serif;
}
.offer_btn {
  border-radius: 4px;
  width: 160px;
  height: 40px;
}
/*Site Section Begins*/
.site_content_details {
  text-align: center;
}
.site_content_details h3 {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.site_content_details .flex_item .site_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.site_content_details .flex_item .site_list i {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.site_content_details .flex_item i {
  margin-top: 20px;
}
.bx {
  color: white;
  line-height: 1.4 !important;
}
/*Site Section Ends*/

/*Portfolio Section Begins*/
.porfolio_content {
  background-color: #fafbfd;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.portfolio_content_details {
  align-items: center;
  justify-content: center;
}
.portfolio_content_details h6 {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.portfolio_flex {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 0.8rem;
  gap: 15rem;
}
.portfolio_p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-right: 90px;
}
.portfolio_p .wd {
  color: #f79e0e;
  border-bottom: 1px solid #f79e0e;
}
.portfolio_p p {
  color: #c6c6c6;
  border-bottom: 1px solid #dbdbdb;
}
button {
  border: none;
  background-color: transparent;
  color: #f2ae19;
  margin-right: 150px;
}
.porfolio_content .flexx_item {
  display: grid;
  gap: 1rem;
}
.porfolio_content .flexx_item .flexxA {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}
.porfolio_content .flexx_item .flexxB {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: -2rem;
  margin-bottom: 3rem;
}
.porfolio_content .flexx_item img {
  height: 90%;
}
/*Porfolio Section Ends*/

/*Popular Questions Begins*/
.pq {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.pq h5 {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.pq h3 {
  font-size: 30px;
  margin-top: -13px;
}
.pq .lorem {
  margin-top: -20px;
  font-size: 12px;
  color: #979797;
}
.pq .pq_list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
}
.pq .pq_list h4 {
  text-align: left;
  line-height: 10px;
}
.pq .pq_list p {
  font-size: 12px;
}
/*Popular Questions Ends*/
/* Newsletter Section Begins*/
.ns {
  background-color: #fafbfd;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.ns h5 {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-transform: uppercase;
}
.ns h3 {
  font-size: 30px;
  margin-top: -13px;
}
.ns .lorem {
  margin-top: -20px;
  font-size: 12px;
  color: #979797;
}
.form {
  border-radius: 50px;
}
/*Newsletter Section Ends*/

/*footer Section Begins*/
.footer {
  background-image: url("images/Banner.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer_details {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dadada;
  gap: 10rem;
}
.details {
  text-align: left;
}
.footer .logo {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  color: #f79e0e;
}
.footer_icon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
}
.bxl-facebook {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 22px;
}
.bxl-instagram {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-radius: 50%;
  border: 1px solid #f79e0e;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 22px;
}
.footer p {
  font-size: 0.8rem;
}
.footer_list {
  display: flex;
  gap: 3rem;
}
.footer_list h4 {
  text-align: right;
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 1px solid #f79e0e;
}
.footer_list ul {
  font-size: 0.8rem;
  text-align: left;
}
.footer_list ul span {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.footerContainer {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.footerContainer p span {
  background: linear-gradient(to right, #f79e0e, #eebd23);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
/*footer Section Ends*/
@media (max-width: 768px) {
  .container_pd_nav {
    padding: 15px 1.5rem;
}
  header {
    height: 90vh;
    width: 100vw;
  }
  nav ul {
    display: none;
}
nav .logo {
  font-size: 1.4rem;
}
.hero_section {
  flex-direction: column;
  width: 100vw;
  padding: 15px 1.5rem;
}
.esd_section {
  flex-direction: column;
}
.esd_section_details {
  flex-direction: column;
}
.packages_details_text {
  display: flex;
}
.offer_section {
  flex-direction: column;
}
}